<!doctype html>
<html>
<head>
	<title>Facebook App</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<img src="images/dest/output.jpg" title="poster">

		<div class="container">
			<div class="col-md-6">
				<button class="btn btn-lg btn-warning">CHANGE CAST</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-lg btn-info">SAVE &amp; SHARE</button>
			</div>
		</div>
	</div>
</body>
</html>